# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files (JAR, WAR, EAR)
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Maven
target/

# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
*.iml
.idea/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.nb-gradle/

# VS Code
.vscode/

# macOS system files
.DS_Store
